body {
	float: left;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: #f6f6f6;
}

#url {
	text-transform: lowercase;
}

::placeholder {
	color: #3333335e;
}

input:read-only { 
	background-color: #d8d8d8;
	cursor: default;
}

header {
	position: absolute;
	float: left;
	width: 100%;
	height: 46px;
	padding: 2px 0px;
	background: #fff;
	z-index: 9;
}

header img {
	height: 46px;
}

header .logo {
	width: 180px;
	text-align: center;
}

strong {
	font-weight: 700;
}

.left-side {
	float: left;
	width: auto;
}

.left-side ul {
	float: left;
	list-style: none;
	margin: 0 auto;
	padding: 0px;
}

.left-side ul li {
	float: left;
	padding: 0px 10px;
}

.left-side ul li a {
	color: #000;
	text-decoration: none;
	font-weight: 400;
}

.right-side {
	float: right;
	width: auto;
}

.right-side ul {
	float: left;
	list-style: none;
	margin: 0 auto;
	padding: 0px;
}

.right-side ul li {
	float: left;
	padding: 0px 10px;
}

.right-side ul li:last-child {
	padding-right: 0px;
}

.right-side ul li a {
	color: #000;
	text-decoration: none;
	font-weight: 300;
	font-size: 16px;
	padding: 0px 10px;
	line-height: 50px;
}

.right-side ul li .profile-img {
	float: right;
	width: 40px;
	height: 40px;
	margin: 3px 10px 3px 0px;
	overflow: hidden;
}

.right-side ul li .profile-img img {
	float: left;
	height: 40px;
}

.right-side ul li ul {
	display: none;
}

.right-side ul li:hover ul {
	display: block;
	position: absolute;
	background: #333;
	right: 0;
	width: 250px;
	margin: 0 auto;
	padding: 10px 0px;
}

.right-side ul li:hover ul li {
	float: left;
	width: 100%;
}

.right-side ul li:hover ul li a {
	color: #fff;
	float: left;
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	line-height: 32px;
}

.right-side ul li:hover ul li a i {
	width: 25px;
}

aside {
	position: absolute;
	float: left;
	width: 200px;
	height: 100% !important;
	padding: 40px 0px 100px 0px;
	display: block;
	background: #181E22;
}

nav {
	float: left;
	width: 100%;
}

nav.side-nav {
	float: left;
	width: 100%;
	margin-top: 20px;
}

nav.side-nav ul {
	float: left;
	padding: 0;
	margin: 0 auto;
	list-style: none;
	width: 100%;
}

nav.side-nav ul li {
	float: left;
	width: 100%;
	position: relative;
	z-index: 9999;
}

nav.side-nav ul li a {
	float: left;
	width: 90%;
	padding: 7px 0px 7px 10%;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

nav.side-nav ul li a:hover {
	background: #32373c;
}

nav.side-nav ul li a i {
	width: 25px;
}

nav.side-nav ul li.active {
	background: #00609E;
}

nav.side-nav ul li.active:after {
    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f1f1f1;
    margin-top: 11px;
}

/* Bottom menu on active menu */

nav.side-nav ul li.active > .bottom-menu ul {
	display: block;
	background: #5a5a5a;
}

nav.side-nav ul li.active:hover > .side-menu ul {
	display: none;
}

nav.side-nav ul li.active .bottom-menu ul li a.active {
	color: #000;
}

nav.side-nav ul li.active .bottom-menu ul li a.active:hover {
	color: #fff;
}

/* Side hover menu */

nav.side-nav ul li ul {
	display: none;
}

nav.side-nav ul li:hover > .side-menu ul {
	display: block;
	position: absolute;
	width: 200px;
	background: #181E22;
	left: 200px;
}

nav.side-nav ul li:hover > .side-menu ul:after {
    left: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #181E22;
    margin-top: 11px;
    margin-left: -16px;
}

nav.side-nav ul li:hover > .side-menu ul li {
	float: left;
	width: 100%;
}

nav.side-nav ul li:hover .side-menu ul li a {
	line-height: 24px;
	height: 24px;
}

nav.side-nav ul li:hover .side-menu ul li a:hover {
	line-height: 24px;
	height: 24px;
	color: #00609E;
	background: #181E22;
}

main {
     width: 100%;
     height: 100%;
     padding: 70px 0px 0px 220px;
     box-sizing: border-box;
}

main .container {
	float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}


.container h2 {
	padding: 0px;
	margin: 0 auto;
	font-weight: 500;
}


.container h3 {
	padding: 0px;
	margin: 0 auto;
	font-weight: 500;
	margin-bottom: 10px;
}

.container table {
    width: 100%;
    padding-right: 2%;
    background: #333;
    color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 2px 2px 20px 0px #b3b3b3;
    box-sizing: border-box;
}

.container tbody {
	background: #fff;
	color: #000;
}

.container th {
  	text-align: left;
  	padding: 8px;
	font-weight: 500;
	font-size: 14px;
}

.container tr {
	border: 1px solid #f7f7f7;
}

.container td {
	vertical-align: top;
  	text-align: left;
  	padding: 8px 10px 35px 10px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.container td p {
	margin: 0 auto;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	color: #00609E;
}

.container td p a {
	color: inherit;
	text-decoration: none;
}

.container td p strong {
	font-weight: 800;
	color: #333;
}

.container td .hover {
	display: none;
}

.container td:hover .hover {
	float: left;
	display: block;
	padding: 0;
	margin-bottom: -25px;
}

.container td:hover .hover a {
	float: left;
	font-size: 14px;
	font-weight: 300;
	color: #00609E;
	text-decoration: none;
	padding: 0;
	margin: 0 auto;
}

.container td:hover .hover a:after {
	content: "|";
	padding: 0px 10px;
	font-size: 18px;
	color: #ccc;
}

.container td:hover .hover a:last-child:after {
	content: "";
}

.container td:hover .hover a i {
	width: 20px;
}

.btn {
	text-decoration: none !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn:last-child {
	margin-right: 0px;
}

.btn-block {
    box-sizing: border-box;
	width: 100%;
}

.btn-red {
	background: #dc3545;
	color: #fff;
	border: #dc3545;
}

.btn-green {
	background: #28a745;
	color: #fff;
	border: #28a745;

}

.btn-yellow {
	background: #ffc107;
	color: #fff;
	border: #ffc107;

}

.btn-blue {
	background: #006CD1;
	color: #fff;
	border: #006CD1;

}

.btn-sm {
	font-size: 12px;
	letter-spacing: 1px;
	padding: 2px 7px;
}

.box-4 {
	float: left;
	width: 25%;
	margin: 20px 0px;
}

.box-3 {
	float: left;
	width: 33%;
	margin: 20px 0px;
}

.box-2 {
    float: left;
    width: 50%;
    margin: 20px 0px;
    box-sizing: border-box;
    padding-right: 20px;
}

.box-1 {
	float: left;
	width: 100%;
	margin: 20px 0px;
}

.form-box {
	float: left;
	width: 98%;
	margin: 20px 0px;
	margin-right: 2%;
}

.form-box .left-box {
    float: left;
    width: 750px;
    padding-right: 18px;
}

.form-box .right-box {
	float: left;
	width: 250px;
}

.height-200 {
	height: 200px;
	overflow-x: scroll;
}

.form-box .right-box .action-box {
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 10px 10px 0px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-box .right-box .action-box .form-group {
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 19px;
}

.form-box .right-box h2 {
	float: left;
	width: 100%;
	font-size: 18px;
	margin-bottom: 10px;
	color: #333;
}

.form-control {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 7px 10px;
	border: none;
	outline: none;
	font-size: 16px;
}

textarea.form-control {
	resize: none;
	height: 100px;
}

.inside-shadow {
	position: relative;
	box-shadow: inset 0px 0px 2px 0px #9c9c9c;
}

.form-group {
	float: left;
	width: 100%;
	margin: 0px 0px 10px 0px;
}

.form-group span {
	background: #00609E;
	padding: 10px 30px;
	border-radius: 4px;
	color: #fff;
}

.form-group label {
	float: left;
	font-size: 14px;
	margin-bottom: 5px;
}

.form-group label span {
	background: none;
    padding: 0;
    font-size: 11px;
    margin-left: 10px;
    color: red;
}

.form-group input[type='radio'] {
	float: left;
	margin-right: 10px;
}

.form-group select.form-control.inside-shadow {
	font-size: 14px;
	height: 35px;
	background: #fff;
}

.url {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 5px 0px;
	height: 17px;
}

.url p {
    float: left;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
}

.url p strong {
	float: left;
	margin-right: 10px;
}

.url p span {
    background: none;
    padding: 0px;
    margin: 0 auto;
	float: right;
	color: #333;
	font-size: 14px;
}

.url .form-control {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    background: #fff;
    text-transform: lowercase;
}

.tags {
	border: none;
	width: 100%;
	resize: none;
	font-size: 14px;
	outline: none;
}

.feature-image {
	float: left;
	width: 100%;
	height: 100px;
	border:2px dashed #333;
}

.editor-menu {
	float: left;
	width: 100%;
	padding: 5px 0px;
}

.editor {
	float: left;
	width: 100%;
	height: 400px;
	font-size: 16px;
	background: #fff;
	outline: none;
	border: none;
	box-sizing: border-box;
}

.setFullScreen {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #f9f9f9;
    z-index: 9999;
    margin: 0 auto;
}

.setFullScreen .editor {
	height: 100%;
}

.editor-btn {
    float: left;
    margin-right: 5px;
    padding: 5px 8px;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e6e6e6;
}

.editor-btn:last-child {
	margin-right: 0px;
}

.editor-menu .form-control {
    float: left;
    margin-right: 5px;
    border-radius: 4px;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 85px;
    height: 28px;
    padding:0;
}

.imgBrowser {
	position:fixed; /*it can be fixed too*/
	left:0; right:0;
	top:0; bottom:0;
    width: 100%;
	height: 100%;
	padding-top: 50px;
	z-index: 9999;
	overflow: hidden;
	background: #000000c2;
}

.close-window {
    position: absolute;
    color: #b7b7b7;
    right: 15px;
    font-size: 18px;
    top: 10px;
}

.close-window:hover {
	color: #ff0000;
}

.inner-imgBrowser {
	position: relative;
    width: 1250px;
	height: 600px;
    background: #F3F3F3;
	margin:auto;
	max-width:100%;
	max-height:100%;
	overflow:none;
	box-sizing: border-box;
}

.inner-imgBrowser .box-side-menu {
	position: absolute;
	left: 0;
	width: 200px;
	height: 100%;
}

.inner-imgBrowser .box-side-menu ul {
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
    margin: 0 auto;
    padding: 10px 10px;
    list-style: none;
}

.inner-imgBrowser .box-side-menu ul li {
	float: left;
	width: 100%;
    padding: 10px 0px 10px 10px;
    font-weight: 500;
    color: #000;
}

.inner-imgBrowser .box-side-menu ul li:hover {
	background: #fff;
}

.inner-imgBrowser .box-side-menu ul li.active {
	background: #fff;
	box-shadow: inset 0px 0px 2px 0px #9c9c9c;
}

.inner-imgBrowser .box-main-view {
	position: absolute;
	height: 100%;
	width: 1050px;
	left: 200px;
	padding: 0px 10px;
	background: #fff;
	box-sizing: border-box;
	overflow: auto;
}

.inner-imgBrowser .box-main-view .library-box {
	padding: 200px;
}

.inner-imgBrowser .box-main-view .uploader-box {
	padding: 100px;
}

.add-btn {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: #00609E;
    top: -3px;
    left: 10px;
}

.uploadBox {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.uploader-box {
	float: left;
	width: 100%;
	padding: 100px 0px 0px 0px;
	height: 270px;
	text-align: center;
	border: 5px dashed #00609E;
	box-sizing: border-box;
	margin-top: 20px;
}

.uploader-box h3 {
	margin-bottom: 50px;
}

.uploader-box input[type=file]{
	position:absolute;
	top:0;
	right:0;
	margin:0;
	border:solid transparent;
	width:100%;
	height: 350px;
	opacity:0;
	cursor:pointer;
	margin-top: 30px;
}

.notice {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #000;
    font-style: italic;
    padding: 10px 0px;
    font-weight: 300;
}

.file-list {
	float: left;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 5px;
}

.file-list h3 {
	background: #ccc;
    float: left;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #ccc;
    margin: 0 auto;
    color: #333;
    font-weight: 500;
    font-size: 16px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    margin-bottom: 20px;
}

li.imageBox {
	float: left;
	width: 150px;
	height: 132px;
	margin: 8px;
    border: 2px solid #f3f3f3;
    background: #f3f3f3;
    line-height:132px;
    text-align:center;
    overflow: hidden;
    cursor: pointer;
}

.imageBox:hover {
	border: 2px solid #00b8ff;
}

li.imageBox img {
	width: 100%;
	vertical-align:middle;
}

.libraryBox {
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.search-box {
    position: fixed;
    width: 1040px;
    box-sizing: border-box;
    padding: 10px 40px 5px 0px;
    text-align: right;
    box-sizing: border-box;
    background: #fff;
}

.search-box input[type='text'] {
    padding: 7px 7px;
    font-size: 14px;
    background: #e8e8e8;
    border: none;
    color: #000;
    width: 200px;
    outline: none;
}

.gallery-box {
	float: left;
	width: 100%;
	margin-top: 50px;
}

.gallery {
	float: left;
	width: 100%;
	list-style: none;
	margin:0 auto;
	padding:0;
}

.upload-btn {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload-btn span {
	float: left;
	width: 100%;
	box-sizing: border-box;
    background: #00609E;
    border-radius: 4px;
    color: #fff;;
  	cursor: pointer;
  	line-height: 20px;
  	text-align: center;
}

.upload-btn input[type=file] {
  	position: absolute;
  	left: 0;
  	top: 0;
  	opacity: 0;
  	line-height: 40px;
  	float: left;
  	cursor: pointer;
  	width: 100%;
}

.upload-btn p {
	float: left;
	width: 100%;
	font-size: 13px;
	font-weight: 300;
}

.upload-btn p strong {
	float: left;
	width: 100%;
	margin-top: 5px;
}

.img-preview {
	float: left;
	width: 100%;
	overflow: hidden;
}

.img-preview img {
	float: left;
	width: 100%;
}

.img-preview #changeImage {
    float: left;
    margin: 10px 0px 10px 0px;
    background: red;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
}

.tagList {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.tagList span {
	position: relative;
    float: left;
    background: #00609E;
    color: #fff;
    margin-right: 10px;
    padding: 2px 15px 2px 10px;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
	cursor: pointer;
}

.tagList span:after {
    position: absolute;
    content: 'x';
    color: #00fff7;
    font-size: 12px;
    line-height: 13px;
    margin-left: 5px;
    float: left;
}

.selectTag {
	position: absolute;
	float: left;
	width: 92%;
	top: 40px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.selectTag li {
	position: relative;
    float: left;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    z-index: 99;
    font-size: 14px;
}

/* Tabs */

section {
	float: left;
	width: 100%;
}

ul.tabs {
	float: left;
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

ul.tabs li {
	float: left;
	padding: 5px 10px;
	color: #fff;
	background: #333;
	cursor: pointer;
}

ul.tabs li:first-child {
	border-top-left-radius: 4px;
}

ul.tabs li:last-child {
	border-top-right-radius: 4px;
}

ul.tabs li.active {
	background: #fff;
	color: #333;
	cursor: default;
}

.seo {
	float: left;
	width: 100%;
	background: #fff;
	padding: 10px 10px;
	box-sizing: border-box;
}

.fb {
	float: left;
	width: 100%;
	background: #fff;
	padding: 10px 10px;
	box-sizing: border-box;
}

.fb label {
	margin-bottom: 5px;
}

.fb .facebook-image {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.fb .facebook-image .img {
	float: left;
	width: 100%;
	height: 382px;
	background: #f3f3f3;
	overflow: hidden;
	text-align: center;
}

.fb .facebook-image .img img {
	height: 100%;
}

.fb #facebookChangeImage {
    float: left;
    margin: 10px 0px 10px 0px;
    background: red;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
}

.facebookUploadBox {
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 0px;
	border: 5px dashed #10609E;
	box-sizing: border-box;
	text-align: center;
	padding: 30px 0px;
}

.facebookUploadBox span {
    background: #10609E;
    padding: 10px 30px;
    color: #fff;
    border-radius: 4px;
}

.facebookUploadBox input[type='file'] {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	width:100%;
	opacity:0;
	cursor:pointer;
	height: 80px;
}

.tw {
	float: left;
	width: 100%;
	background: #fff;
	padding: 10px 10px;
	box-sizing: border-box;
}

.tw label {
	margin-bottom: 5px;
}

.tw .twitter-image {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.tw .twitter-image .img {
	float: left;
	width: 100%;
	height: 365px;
	overflow: hidden;
	background: #f3f3f3;
	text-align: center;
}

.tw .twitter-image .img img {
	height: 100%;
}

.tw #twitterChangeImage {
    float: left;
    margin: 10px 0px 10px 0px;
    background: red;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
}

.twitterUploadBox {
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 0px;
	border: 5px dashed #10609E;
	box-sizing: border-box;
	text-align: center;
	padding: 30px 0px;
}

.twitterUploadBox span {
    background: #10609E;
    padding: 10px 30px;
    color: #fff;
    border-radius: 4px;
}

.twitterUploadBox input[type='file'] {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	width:100%;
	opacity:0;
	cursor:pointer;
	height: 80px;
}

.category {
	float: left;
	width: 100%;
}

.category .form-box {
	float: left;
	width: 400px;
}

.category .category-list {
	float: right;
	width: 600px;
	background: #fff;
}

.page-not-found {
	float: left;
	width: 100%;
	min-height: 600px;
	box-sizing: border-box;
	padding: 10%;
	text-align: center;
	background: #fff;
}

.page-not-found img {
	margin-bottom: 50px;
}

.page-not-found h1 {
	float: left;
	width: 100%;
	font-size: 144px;
	padding: 0px;
	margin: 0 auto;
}

.page-not-found h1 span {
	float: left;
	width: 100%;
	font-size: 32px;
	padding: 0px;
	margin: 0 auto;
}

.options-bar {
	float: left;
	width: 100%;
	margin: 10px 0px;
}

.options-bar .left-box {
	float: left;
	width: 80%;
}

.options-bar .left-box select.form-control {
	float: left;
	width: auto;
	background: #fff;
	font-size: 14px;
	height: 32px;
	margin-right: 10px;
}

.options-bar .left-box select.form-control:last-child {
	margin-right: 0px;
}

.options-bar .left-box input[type='submit'] {
	background: #00609E;
	color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.options-bar .left-box a {
	float: left;
	padding-left:10px;
	color: #0073aa;
	text-decoration: none;
	font-size: 13px;
}

.options-bar .left-box a:hover {
	opacity: 0.7;
}

.options-bar .left-box .active {
	color: #484848;
	font-weight: 600;
}

.options-bar .left-box a:first-child {
	padding-left: 0px;
}

.options-bar .left-box a:after {
	padding-right: 0px;
	content: "|";
	margin-left: 10px;
}

.options-bar .left-box a:last-child:after {
	content: none;
}

.options-bar .right-box {
	float: right;
	width: 20%;
}

.import-box {
	float: left;
	width: 100%;
}

.right {
	float: right !important;
}

/** Pagination **/

.pagination-box {
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.pagination-box .pagination {
	float: left;
	width: 100%;
}

.pagination-box ul.pagination {
	float: left;
	width: 100%;
	padding: 0;
	margin: 20px 0px;
	list-style: none;
}

.pagination-box .pagination li {
	float: left;
	width: auto;
	background: #e4e4e4;
	color: #333;
	border-right: 1px solid #f5f5f5;
    padding: 5px 10px;
}

.pagination-box .pagination li:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #fff;
	color: #333;
}

.pagination-box .pagination li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: none;
	background: #fff;
	color: #333;
}

.pagination-box .pagination li a {
	text-decoration: none;
	color: inherit;
}