body {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	background: #f6f6f6;
	font-family: 'Fira Sans Condensed', sans-serif;
}

section {
	position: absolute;
	width: 100%;
	height: 100%;
}

.form-box {
	position: absolute;
	right: 0;
	width: 400px;
	height: 100%;
	display:flex;
  	align-items:center;
	background: #fff;
	box-shadow: 0px 0px 5px #bbb;
}

form {
	float: left;
	width: 100%;
	margin: 0px 20px;
}

h1 {
	float: left;
	width: 100%;
	font-size: 28px;
	color: #333;
}

h1 span {
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #949494;
}

a.link {
	float: left;
	width: 100%;
	font-size: 14px;
	color: #007bff;
	text-decoration: none;
	margin-bottom: 20px;
}

.center-link {
	width: 100%;
	text-align: center;
	bottom: 10px;
	font-size: 12px;
}

.center-link a {
	text-decoration: none;
}

p.footer {
	position: absolute;
	float: left;
	width: 100%;
	text-align: center;
	bottom: 10px;
	font-size: 10px;
}

p.footer a {
	text-decoration: none;
}