/*
	Theme Name: Punjab Kesari
	Theme URI: http://www.avinashkumar.in/demo/punjab-kesari-2-0/
	Author: Avinash Kumar
	Author URI: http://www.avinashkumar.in
	Description: only use for punjabkesari.com
	Version: 2.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: punjab-kesari
	Tags: news, newspaper, media, digital media, news agency
*/

body, html {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}

/** Start Dashboard Menu Bar */

.dashboard-bar {
	float: left;
	top: 0;
	width: 100%;
	background: #000;
}

.left-menu {
	float: left;
}

padding-10 {
	padding: 10px 0px;
	float: left;
	width: 100%;
}

.right-menu {
	float: right;
}

.dashboard-bar ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.dashboard-bar ul li {
	float: left;
	padding:0;
	margin: 0 auto;
}

.dashboard-bar ul li i {
	float: left;
	margin-right: 10px;
	font-size: 16px;
}

.dashboard-bar ul li a {
    float: left;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border-right:1px solid #525252;
}

.dashboard-bar ul li:first-child {
	padding-left: 30px;
}

input.header-search {
    float: left;
    width: 200px;
    padding: 6px 5px;
    border: none;
    font-size: 12px;
    background: #fff;
    outline: none;
	margin: 2px 0px;
}

/** End Dashboard Menu Bar */

.english {
	font-family: 'Fira Sans Condensed', sans-serif;
}

a.english {
	font-family: 'Fira Sans Condensed', sans-serif !important;
}

header {
	float: left;
	width: 100%;
	box-shadow: 0px 1px 5px 0px #d8d8d8;
}

.breaking-box {
	float: left;
	width: 100%;
	height: 38px;
	background: #e71f37;
	color: #fff;
	overflow: hidden;
}

.breaking-box .breaking-title {
	position: relative;
	float: left;
	padding: 0px 50px;
    height: 150px;
    background: #9d1221;
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    margin-top: -60px;
    z-index: 9999;
}

.breaking-box .breaking-slider {
	position: absolute;
	float: left;
	width: 100%;
}

p.english {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	line-height: 38px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	margin-top: 60px;
	text-align: center;
	transform:rotate(-25deg);
}

marquee {
	float: left;
	width: 100%;
	line-height: 38px;
	font-weight: 500;
	font-family: 'Eczar', serif;
}

.header {
	background: #fff;
	padding: 10px 50px;
	z-index: 9999;
	height: 88px;
}

.header .logo {
	float: left;
	width: 20%;
	padding: 5px 0px;
}

.header .logo img {
	float: left;
	height: 60px;
}

.header .menu {
	float: right;
	width: 80%;
	padding: 5px 0px;
}

/* Desktop menu start */

.header .menu nav {
	float: right;
	width: 100%;
}

.header .menu nav ul {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header .menu nav ul li {
	float: left;
}

.header .menu nav ul li a {
	float: left;
	color: #333;
	text-decoration: none;
	line-height: 60px;
	font-weight: 500;
	font-size: 18px;
	font-family: 'Eczar', serif;
	padding: 0px 15px;
}

.header .menu nav ul li a:hover {
	color: #9d1221;
}

.header .menu nav ul li ul {
	float: left;
	display: none;
	position: absolute;
	margin-top: 60px;
	background: #fff;
	z-index: 9999;
}

.header .menu nav ul li:hover ul {
	display: block;
	float: left;
	width: 150px;
	padding: 0px 25px;
	text-align: left;
}

.header .menu nav ul li ul li {
	float: left;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #f4f4f4;
}

.header .menu nav ul li ul li a {
	float: left;
	width: 100%;
	line-height: 45px;
	padding: 0px;
}

.header .menu nav ul li ul li:last-child {
	border-bottom: 0px;
}

main {
	display: block;
	margin: 0 auto;
	width: 1180px;
	overflow: hidden;
}

section {
	float: left;
	width: 100%;
}

.homepage-slider-box {
	float: left;
	width: 765px;
}

.homepage-slider {
	float: left;
	width: 765px;
	background: #9d1221;
}

.homepage-slider .slider {
	position: relative;
	float: left;
	width: 765px;
}

.homepage-slider .slider .img-box {
	float: left;
	width: 765px;
	height: 400px;
	overflow: hidden;
}

.homepage-slider .slider .img-box img {
	float: left;
	width: 100%;
}

.homepage-slider .slider .text-box {
	float: left;
	width: 725px;
	padding: 0% 20px;
	height: 400px;
	margin-top: -400px;
    background: rgba(0,0,0, 0.3);
}

.homepage-slider .slider .text-box .skew {
	float: left;
	background: red;
	margin:20px 0px 10px 10px;
	padding: 0px 25px;
	font-family: 'Eczar', serif;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	transform: skew(-20deg);
}

.homepage-slider .slider .text-box .skew span {
	float: left;
	transform:skew(20deg);
}

.homepage-slider .slider .text-box h1 {
	position: absolute;
	float: left;
	width: 95%;
	font-size: 32px;
	bottom: 110px;
	padding: 0px;
	margin: 0 auto;
	color: #fff;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	font-family: 'Eczar', serif;
}

.homepage-slider .left-arrow {
	position: absolute;
    top: 200px;
    z-index: 9;
    color: #b5b5b5;
    border-radius: 100%;
    border: 1px solid #b5b5b5;
    height: 24px;
    width: 33px;
    text-align: center;
    padding-top: 9px;
    margin-left: 10px;
}

.homepage-slider .right-arrow {
	position: absolute;
    top: 200px;
    right: 10px;
    z-index: 9;
    color: #b5b5b5;
    border-radius: 100%;
    border: 1px solid #b5b5b5;
    height: 24px;
    width: 33px;
    text-align: center;
    padding-top: 9px;
    margin-left: 10px;
}

.homepage-slider .right-arrow:hover, .homepage-slider .left-arrow:hover {
	color: #fff;
	border-color: #fff;
}

.summery-box {
	float: left;
	width: 725px;
	height: 80px;
	color: #000;
	padding: 10px 20px;
}

.summery-box p {
	float: left;
	width: 100%;
	font-size: 16px;
	color: #fff;
	text-align: justify;
	font-weight: 500;
	margin: 0 auto;
	font-family: 'Eczar', serif;
}

.header-ad-box {
	float: left;
	width: 100%;
	padding: 20px 0px;
	text-align: center;
}

.trending-box {
	float: right;
	width: 350px;
}

.trending-box .main-news {
	float: left;
	width: 350px;
}

.trending-box .big-news {
	float: left;
	width: 100%;
}

.trending-box .big-news h3 {
	float: left;
	font-size: 24px;
	color: #a10e24;
	font-weight: 500;
	margin: 10px 0px 0px 0px;
	font-family: 'Eczar', serif;
	font-family: 'Eczar', serif;
}

.trending-box .big-news h2 {
    float: left;
	width: 330px;
    padding: 3px 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 10px;
    font-family: 'Eczar', serif;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.trending-box .feature-box {
	float: left;
	width: 350px;
}

.trending-box .feature-box h3 {
	font-family: 'Eczar', serif;
	font-weight: 500;
	color: #A10E24;
}

.title {
	float: left;
	width: 1180px;
}

.title h2 {
	float: left;
	padding: 0px 10px;
	border-radius: 4px;
	background: #a10e24;
	color: #fff;
	font-family: 'Eczar', serif;
	font-size: 18px;
	font-weight: 700;
	margin:0px 0px 20px 0px;
}

.title h2 a {
	color: #fff;
	text-decoration: none;
}

.category-post {
	float: left;
	width: 223px;
	margin-bottom: 30px;
	margin-right: 13px;
	background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.category-post:last-child {
	margin-right: 0px;
}

.category-post img {
	float: left;
	width: 100%;
	height: 117px;
}

.category-post h3 {
	float: left;
	width: 215px;
	height: 110px;
	padding: 5px;
	font-size: 16px;
	text-align: justify;
	margin: 0 auto;
	color: #333;
	font-weight: 500;
	font-family: 'Eczar', serif;
}

.category-post h3:hover {
	color: #a10e24;
}

.bollywood-post {
	float: left;
	width: 1080px;
	height: 310px;
	margin: 20px 0px 30px 0px;
	padding: 20px 50px 0px 50px;
}

.red {
	background: #A10E24;
}

.bollywood-post h2 {
	float: left;
	width: 600px;
	font-size: 32px;
	font-family: 'Eczar', serif;
	color: #fff;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	margin: 0 auto;
}

.entertainment-slider {
	float: left;
	width: 730px;
}

.entertainment-slider .left-arrow {
	position: absolute;
    color: #b5b5b5;
    top: 0px;
    border-radius: 100%;
    border: 1px solid #b5b5b5;
    height: 24px;
    width: 33px;
    text-align: center;
    padding-top: 9px;
    margin-top: -50px;
    right: 75px;
}

.entertainment-slider .right-arrow {
	position: absolute;
    top: 0px;
    right: 25px;
    color: #b5b5b5;
    border-radius: 100%;
    border: 1px solid #b5b5b5;
    height: 24px;
    width: 33px;
    text-align: center;
    padding-top: 9px;
    margin-top: -50px;
}

.entertainment-slider .left-arrow:hover, .entertainment-slider .right-arrow:hover {
	color: #fff;
	border-color: #fff;
}

.bollywood-post .ad-box {
	float: right;
	width: 300px;
	padding: 20px 0px;
	text-align: center;
	margin-top: -60px;
}

.youtube-box {
	float: left;
	width: 1080px;
	height: 350px;
	background: #b7b5b5;
	margin: 20px 0px 150px 0px;
	padding: 20px 50px 0px 50px;
}

.top-video {
	float: left;
	width: 730px;
}

.top-video h2 {
	float: left;
	width: 600px;
	font-size: 32px;
	font-family: 'Eczar', serif;
	color: #000;
	margin: 0 auto;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.feature-box {
	float: left;
	width: 350px;
}

.feature-box h3 {
	float: left;
	width: 600px;
	font-size: 32px;
	font-family: 'Eczar', serif;
	color: #000;
	margin: 0 auto;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.feature-slider {
	float: left;
	width: 350px;
    padding: 0px 0px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border-radius: 4px;
}

.feature-slider .slider {
	float: left;
	width: 350px;
}

.feature-slider .slider .img-box {
	float: left;
	width: 350px;
}

.feature-slider .slider .img-box img {
	float: left;
	width: 350px;
}

.feature-slider .slider .text-box {
	float: left;
	width: 330px;
	height: 98px;
	padding: 0px 10px;
}

.feature-slider .slider .text-box h2 {
	float: left;
	width: 100%;
	padding: 10px 0px;
	font-size: 18px;
	margin: 0 auto;
	text-align: justify;
	color: #000;
}

.feature-slider .slider .text-box h2:hover {
	color: #a10e24;
}

.feature-slider .left-arrow {
    margin-top: -50px;
    position: absolute;
    color: #d2d1d1;
    right: 50px;
    top: 0px;
    border-radius: 100%;
    border: 1px solid #d2d1d1;
    width: 30px;
    height: 23px;
    padding-top: 7px;
    text-align: center;
}

.feature-slider .right-arrow {
    margin-top: -50px;
    position: absolute;
    color: #d2d1d1;
    right: 0px;
    top: 0px;
    border-radius: 100%;
    border: 1px solid #d2d1d1;
    width: 30px;
    height: 23px;
    padding-top: 7px;
    text-align: center;
}

.feature-slider .left-arrow:hover, .right-arrow:hover {
	color: #fff;
	border-color: #fff;
}

.youtube-banner {
	float: left;
	width: 350px;
	height: 100px;
	margin-top: 50px;
}

.youtube-banner img {
	float: left;
	width: 100%;
}

.post-info {
	float: left;
	width: 100%;
	padding: 5px 0px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	font-family: 'Fira Sans Condensed', sans-serif;
	margin-bottom: 20px;
}

.post-info .author-img {
	float: left;
	width: 70px;
	padding: 0px 10px;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 100%;
}

.post-info .author-img img {
	max-width: 50px;
	border-radius: 100px;
	margin-top: 2px;
}

.post-info .author-name {
	float: left;
	width: auto;
}

.post-info .author-name p {
	color: #A10E24;
}

.post-info .post-update {
	float: left;
	width: auto;
}

.post-info .post-update p {
	font-weight: 300;
	color: #898989;
}

.post-info .post-update strong {
	color: #333;
}

.post-info .post-share {
	float: right;
	width: auto;
}

.post-info p {
    font-size: 16px;
    line-height: 58px;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: -5px;
    padding-right: 20px;
}

footer {
	float: left;
	width: 100%;
	padding: 30px 0px;
	background: #000;
	font-family: 'Fira Sans Condensed', sans-serif;
}

footer .main-box {
	width: 1180px;
	margin: 0 auto;
}

footer .link-box {
	float: left;
	width: 820px;
	border-right: 1px solid #383838;
	margin: 0px 0px 30px 0px;
	padding: 10px 0px;
}

.link-box h3 {
	float: left;
	width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
}

.link-box .category-list a {
	float: left;
    color: #868585;
    font-weight: 500;
    text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Eczar', serif;
}

.link-box .category-list a:after {
    content: '|';
    margin: 0px 10px;
    color: #4e4e4e;
}

.link-box .category-list a:last-child:after {
	content: '';
}

.link-box .category-list a:hover {
	color: #fff;
}

a.tags {
	text-decoration: none;
	float: left;
    color: #868585;
	padding: 2px 10px;
	border-radius: 4px;
	border:1px solid #868585;
	margin-right: 10px;
	font-family: 'Eczar', serif;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 10px;
}

.link-box a.tags:hover {
	border-color: #fff;
}

.about-us {
	float: left;
	width: 760px;
	margin: 50px 0px;
	padding: 20px 0px;
	border-top: 1px solid #383838;
}

.about-us a {
	float: left;
    color: #868585;
    font-weight: 500;
    text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
}

.about-us a:after {
    content: '|';
    margin: 0px 10px;
    color: #4e4e4e;
}

.about-us a:last-child:after {
    content: '';
}

/* Single Post styles */

.body {
	float: left;
	width: 100%;
	padding: 50px 0px;
}

.main {
	float: left;
	width: 810px;
	box-sizing: border-box;
	padding: 20px;
	background: #fff;
}

.main h1 {
	float: left;
	width: 100%;
	font-weight: 700;
	font-size: 32px;
	font-family: 'Eczar', serif;
	color: #333;
	padding: 0;
	margin: 0 auto;
}

.main img {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.main .feature-img {
	float: left;
	width: 100%;
}

.main .content {
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.main .content p {
	max-width: 100%;
	font-family: 'Eczar', serif !important;
}

.main .content h2 {
	float: left;
	margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 0px;
    width: 100%;
}

.main .content h3 {
	float: left;
	width: 100%;
}

.main .content a {
	float: left;
    font-size: 14px;
    letter-spacing: 1px;
	font-weight: 300;
	text-decoration: none;
	color: #0000ff;
}

.main .content a:before {
	float: left;
	content: "ये भी पढ़ें:";
	padding-right: 20px;
	color: rgb(0, 0, 0);
	font-weight: 700;
}

.main .tags {
	float: left;
	width: 100%;
	margin: 50px 0px;
	box-sizing: border-box;
}

.main .tags a {
    float: left;
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    background: #A10E24;
    border-radius: 4px;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 10px;
}


.sidebar {
	float: left;
	width: 370px;
}

.ad-box-300 {
	text-align: center;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    width: 350px;
    background: #fff;
}

.ad-box-300 span {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
	font-family: 'Eczar', serif;
}

footer .contact-box {
	float: right;
	width: 350px;
	margin: 0px 0px 30px 0px;
	padding: 50px 0px;
}

.main-box .credit {
	float: left;
	width: 100%;
	color: #656565;
	font-size: 12px;
	text-transform: uppercase;
}

.main-box .credit a {
	color: #f9f9f9;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
}

.main-box .credit a:hover {
	color: #00fbff;
}

.footer-logo-box {
	float: left;
	width: 350px;
	text-align: center;
}

.footer-logo-box img {
	height: 70px;
}

.footer-social-link {
	float: left;
	width: 100%;
	text-align: center;
}

.footer-social-link h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}

.footer-social-link i {
	font-size: 32px;
    margin: 0px 10px;
    color: #5d5d5d;
    margin-bottom: 20px;
}

.footer-social-link i:hover {
	color: #fff;
}

.pagination {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.pagination ul {
	width: auto;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.pagination ul li {
	float: left;
	border-radius: 4px;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.pagination ul li.first-page {
	margin-right: 20px;
}

.pagination ul li.last-page {
	margin-left: 20px;
}

.pagination ul li a {
    float: left;
    text-decoration: none;
    color: #333;
    background: #fff;
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}

.pagination ul li a:hover {
	color: #fff;
	background: #9c1120;
}

.pagination ul li.active a {
	text-decoration: none;
	color: #fff;
	background: #9c1120;
}

/* .pagination ul li a:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination ul li a:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
} */

/** Default Social Icon list */

.social-link {
	float: left;
	width: 100%;
	text-align: center;
}

.social-link i {
	font-size: 32px;
	margin: 0px 5px;
	line-height: 53px;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-reddit-square {
	color: #FF4301;
}

.fa-twitter-square {
	color: #1da1f2;
}

.fa-pinterest-square {
	color: #c8232c;
}

.fa-linkedin {
	color: #0077B5;
}

.fa-thumbtack {
	color: #37E278;
}